#contactMe{
    background-color: #dfc22c;
    margin:  0 auto 0 30%;
    width:60%;
    height: 85vh;
    border: .5em solid #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    .boxContact{
        .contactHeading{
            writing-mode: vertical-rl;
            box-orient: vertical;
            direction: ltr;
            transform: rotate(180deg);
            position: absolute;
            right: 69%;
            font-size:5rem;
            font-weight: 650;
            -webkit-text-stroke: 1px #f3f3f3;
            color: transparent;
        }
        .contactParragraph {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            text-align: center;
            color:rgba(35, 21, 60, .8);
        }
    }
        .boxForm {
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 60%;
            .form{
                display: flex;
                flex-direction: column;
                margin: 3rem auto 0 auto;
                .name{
                    width: 100%;
                    display: flex;
                    .lName{
                        width: 90%;
                    }
                    .fName{
                        width: 90%;
                    }
                }
                .mail{
                    width: 95%;
                }
                .textarea{
                    width: 95%;
                    height: 20vh;
                }
            }
            .btn{
                margin-top: 4rem;
                width: 95%;
                margin: center;
            }
        }
        @media all and (min-width: 20rem) and (max-width: 30rem) {
                background-color: #dfc22c;
                margin:  4rem auto 0 auto;
                height: 70vh;
                width: 90%;
            .boxContact{
                    .contactHeading{
                        writing-mode:horizontal-tb;
                        box-orient:horizontal;
                        direction: ltr;
                        transform: rotate(0deg);
                        position: relative;
                        right: 6%;
                        bottom: 40%;
                        font-size:3rem;
                        font-weight: 600;
                        -webkit-text-stroke: 1px #f3f3f3;
                        color: transparent;
                    }
                .contactParragraph{
                    position: relative;
                    right: 0%;
                    bottom:60%;
                    font-size: 1rem;
                }
            }
            .boxForm {
                position: relative;
                bottom: 15%;
                display: flex;
                flex-direction: column;
                .form{
                    display: flex;
                    flex-direction: column;
                    }

            }
            .btn{
                position: relative;
                bottom: 5%;
            }
        }
        @media all and (min-width: 30rem) and (max-width: 48rem) {
            margin:  .5rem auto 0 auto;
            height: 60vh;
            width: 80%;
            .boxContact{
                .contactHeading{
                    writing-mode:horizontal-tb;
                    box-orient:horizontal;
                    direction: ltr;
                    transform: rotate(0deg);
                    position: relative;
                    right: 6%;
                    bottom: 50%;
                    font-size:3.5rem;
                    font-weight: 600;
                    -webkit-text-stroke: 1px #f3f3f3;
                    color: transparent;
                }
            .contactParragraph{
                font-size: 1rem;
            }
        }
        .boxForm {
            display: flex;
            flex-direction: column;
            margin: 0;
            .form{
                display: flex;
                flex-direction: column;
                width: 100%;
                .textarea{
                    height: 8vh;
                }
            }
        }
        }
        @media all and (min-width: 48rem) and (max-width: 60rem){
            margin:  0 auto 0 auto;
            height: 60vh;
            width: 80%;
            .boxContact{
                .contactHeading{
                    writing-mode:horizontal-tb;
                    box-orient:horizontal;
                    direction: ltr;
                    transform: rotate(0deg);
                    position: relative;
                    right: 6%;
                    bottom: 80%;
                    font-size:3.5rem;
                    font-weight: 600;
                    -webkit-text-stroke: 1px #f3f3f3;
                    color: transparent;
                }
            .contactParragraph{
                position: relative;
                right: 0%;
                bottom:40%;
                font-size: 1rem;
                width: 60%;
                margin: auto;
            }
        }
        .boxForm {
            position: relative;
            bottom: 2%;
            width: 100%;
            display: flex;
            flex-direction: column;
            .form{
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                .mail{
                    width: 91%;
                }
                .textarea{
                    width: 91%;
                    height: 20vh;
                }
            }
        }
        .btn{
            position: relative;
            bottom: 2%;
        }
        }
        @media all and (min-width: 60rem) and (max-width: 70rem){
            margin:  0 auto 0 auto;
            height: 60vh;
            width: 80%;
        .boxContact{
            bottom: 10%;
            .contactHeading{
                font-size: 2rem;
            }
            .contactParragraph {
                font-size: .6rem;
                margin-bottom: 1rem;
            }
        }
        .boxForm {
            position: relative;
            bottom: 1%;
            display: flex;
            flex-direction: column;
            .form{
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }
        }

}