.sectionMain {
    margin: auto;
    padding: 2rem 0 0 0;
    border-radius: 10px;
    width: 95%;
    .bitMe {
        margin: 0;
        width: 70%;
        font-size: 3rem;
        color: #f2f7f7;
        font-weight: 200;
        height: 10%;
        padding: 1rem;
        span {
            background-color: #dfc22c;
            color: #f2f7f7;
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 2rem;
            letter-spacing: 0.4rem;
        }
    }
    .whoIam {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        margin: auto;
        color: #f2f7f7;
        .headingTwo {
            display: flex;
            font-size: 7.5rem;
            font-weight: bold;
            color: rgba(61, 16, 115, 0.2);
            position: relative;
            top:5%;
            width: 60%;
        }

        .description {
            font-size: 1.3rem;
            width: 50%;
            text-align: justify;
            padding: 0 1rem 0 1rem;
        }
    }
        @media all and (min-width: 20rem) and (max-width: 30rem) {
            margin: 0;
            .bitMe {
                width: 90%;
                font-size: 1rem;
                span {
                    color: #e5edf1;
                    padding: 0.2rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    letter-spacing: 0.4rem;
                }
            }
            .whoIam {
                width: 100%;
                .headingTwo {
                    flex-direction: column;
                    margin: 0;
                    font-size: 3rem;
                    font-weight: bold;
                    top: 5%;
                    left: 5%;
                    box-orient: vertical;
                }
                .description {
                    font-size: 0.6rem;
                    width: 90%;
                    margin: 0 0 0 .5rem;
                    text-align: justify;
                }
            }
        }
    @media all and (min-width: 30rem) and (max-width: 48rem){
        margin: 0;
            .bitMe {
                width: 90%;
                font-size: 1rem;
                height: 5%;
                span {
                    color: #e5edf1;
                    padding: 0.2rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    letter-spacing: 0.4rem;
                }
            }
            .whoIam {
                width: 100%;
                .headingTwo {
                    flex-direction: column;
                    margin: 0;
                    font-size: 3rem;
                    font-weight: bold;
                    top: 5%;
                    left: 5%;
                    box-orient: vertical;
                }
                .description {
                    font-size: 0.8rem;
                    width: 80%;
                    text-align: justify;
                }
            }
    }
    @media all and (min-width: 48rem) and (max-width: 60rem){}
}