// pin of project
.stickProject{
  position: sticky;
}


.active {
    clip-path: circle(115% at 16% 120%);
    @media all and (min-width: 20rem) and (max-width: 30rem) {
          clip-path: circle(90% at 0% 50%);
    }
    @media all and (min-width: 30rem) and (max-width: 48rem) {
      clip-path: circle(90% at 0% 50%);
    }
    @media all and (min-width: 48rem) and (max-width: 60rem) {
      clip-path: circle(90% at 20% 50%);
    }
  }

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cad6dd;
    font-size: 1.5rem;
  }

  .custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#711FD5 92%,#0000);
    background:
      var(--c) 50%  0,
      var(--c) 50%  100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:4px;
  filter:hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{
  100%{transform: rotate(.5turn)}
}

.scrollDownleft{
  position: absolute;
  writing-mode: vertical-rl;
  box-orient: vertical;
  direction: rtl;
  transform: rotate(180deg);
  top: 80%;
  left:0%;
  z-index: 100;
  @media all and (min-width: 20rem) and (max-width: 29rem){display: none;}
  @media all and (min-width: 30rem) and (max-width: 48rem){  left:0;}
  @media all and (min-width: 48rem) and (max-width: 60rem){ left:0;}
}

.scrollDownright{
  position: absolute;
  writing-mode: vertical-rl;
  box-orient: vertical;
  direction: rtl;
  transform: rotate(180deg);
  top: 80%;
  left: 98.5%;

  @media all and (min-width: 20rem) and (max-width: 29rem){display: none;}
  @media all and (min-width: 30rem) and (max-width: 48rem)
  { left:97%;}
  @media all and (min-width: 48rem) and (max-width: 60rem){}
}

.description * {
  padding-bottom: 0 0 1rem 0;
}



.scrollDownLeftProject{
    position: relative;
    writing-mode: vertical-rl;
    box-orient: vertical;
    direction: rtl;
    transform: rotate(180deg);
    top: 60%;
    left:.3%;
    height: 50%;
    @media all and (min-width: 20rem) and (max-width: 30rem){
      left:0;
      height: 70%;
    }
    @media all and (min-width: 30rem) and (max-width: 48rem)
    {
      left:0%;
      height: 70%;
    }
    @media all and (min-width: 48rem) and (max-width: 60rem){}
  }


.scrollDownRightProject{
  position: relative;
  writing-mode: vertical-rl;
  box-orient: vertical;
  direction: rtl;
  transform: rotate(180deg);
  top: 80%;
  left:19%;
  height: 50%;
  @media all and (min-width: 20rem) and (max-width: 30rem){
    left:22%;
    height: 70%;
  }
  @media all and (min-width: 30rem) and (max-width: 48rem)
  {
    left:18%;
    height: 70%;
  }
  @media all and (min-width: 48rem) and (max-width: 60rem){
    left:23%;
    height: 70%;
  }
}

.access{
  margin-top: 1.5rem;
  a{
    text-decoration: none;
    background-color: #23153c;
    border-radius: 5%;
    padding: .5rem;
    margin: 1rem;
    color: #f3f3f3;
    &:hover{
      background-color: #f3f3f3;
      color: #23153c;
    }
  }
  @media all and (min-width: 20rem) and (max-width: 30rem){
    margin-top: .3rem;
    a{
      padding: .2rem;
      font-size: .7rem;
    }
  }
  @media all and (min-width: 30rem) and (max-width: 48rem){
    margin-top: 1.5rem;
    a{
      padding: .5rem;
      font-size: 1rem;
    }
  }
  @media all and (min-width: 48rem) and (max-width: 60rem){
    margin-top: 1.5rem;
    a{
      padding: .5rem;
      font-size: 1rem;
    }
  }
}

