
.main{
    overflow: hidden;
    height: 330vh;
    margin-top: 4rem;
    .mainProject{
        width: 800vw;
        height: 100vh;
        background-color: #dfc22c;
            .infoProject{
                width: 30%;
                height: 50%;
                position: relative;
                color:#f3f3f3;
                display: flex;
                margin-top: 1.5rem;
                .details{
                    border-radius: 5%;
                    margin: 0 3rem 4rem 4rem;
                    width: 8%;
                    height:50vh;
                    background-color: rgb(236, 166, 4);
                    text-align: center;
                    position: relative;
                    .titlePorject{
                        padding: .2rem;
                        font-size: 2rem;
                        color:#23153c;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            .title{
                position: relative;
                padding-top: 0%;
                left: 8%;
                font-size: 8rem;
                font-weight: bold;
                color: #f3f3f3;
            }
            .frontEnd {
                position: absolute;
                top: 75%;
                left: 0;
                h4 {
                    font-size: 5rem;
                    font-weight: bold;
                    -webkit-text-stroke: 1px rgb(35, 21, 60);
                    color: transparent;
                    font-family: Neuemontreal, sans-serif;
                }
            }

    }
    @media all and (min-width: 20rem) and (max-width: 30rem) {
        height: 300vh;
        .mainProject {
                .infoProject {
                    font-size: .8rem;
                    width: 100%;
                    top: 1%;
                    left: 2%;
                    .details {
                        margin: 2rem;
                        width: 50%;
                        height: 100%;
                        .titlePorject {
                            padding: .2rem;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
                .title{
                    font-size: 4rem;
                    left: 2%;
                }
                .frontEnd {
                    position: absolute;
                    top: 19%;
                    left: 12%;
                    h4{
                        font-size: 2.5rem;
                    }
            }
        }

    }
    @media all and (min-width: 31rem) and (max-width: 48rem){
        .mainProject {
            .infoProject {
                font-size: .8rem;
                width: 90%;
                .details {
                    margin: 2rem;
                    width: 40%;
                    .titlePorject {
                        padding: .5rem;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .title{
                font-size: 4rem;
                left: 2%;
            }
            .frontEnd {
                position: absolute;
                top: 19%;
                left: 19%;
                h4{
                    font-size: 4rem;
                }
        }
    }
    }
    @media all and (min-width: 48rem) and (max-width: 60rem){
        .mainProject {
            .infoProject {
                font-size: .8rem;
                width: 90%;
                .details {
                    margin: 1rem;
                    width: 40%;
                    .titlePorject {
                        padding: .5rem;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .title{
                font-size: 6rem;
                left: 2%;
            }
            .frontEnd {
                position: absolute;
                top: 19%;
                left: 12%;
                h4{
                    font-size: 6rem;
                }
        }
    }
    }
}
