.boxSkill{
    position: relative;
    left: 10%;
    top: 4%;
    height: 40%;
    .containerSkill{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 60% 60%;
        gap: .5em;
        margin-left: 5%;
    }
    .titleSkill {
        color: #dfc22c;
        font-weight: bold;
        .tech{
            font-size: 6rem;
            margin-bottom: .3rem;
            position: absolute;
            bottom: 99%;
        }
        .tools{
            writing-mode: vertical-rl;
            box-orient: vertical;
            direction: ltr;
            transform: rotate(180deg);
            position: absolute;
            right: 98.6%;
            font-size:5rem;
            font-weight: 500;
            -webkit-text-stroke: 1px #dfc22c;
            color: transparent;
        }
    }
    .skill {
        background-color: #dfc22c;
        width: 80%;
        height: 80%;
        border-radius: 1rem;
        padding: 0.2rem;
        box-shadow: #dfc22c 0px 2px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .textSkil {
            text-align: center;
            font-size: 0.8rem;
            color: #23153c;
            margin: 0.5rem auto 0 auto;
        }
    }
    @media all and (min-width: 20rem) and (max-width: 30rem){
        height: 100%;
        left: 10%;
        top: 3%;
        .containerSkill{
            grid-template-columns: 40% 40%;
            grid-template-rows: 20% 20% 20% 20%;
            gap: .5em;
        }
        .titleSkill {
            .tech{
                font-size: 2rem;
                bottom: 98%;
            }
            .tools{
                right: 98%;
                font-size: 2rem;
            }
        }
        .skill {
            width: 100%;
            height: 100%;
            .textSkil {
                text-align: center;
                font-size: 0.4rem;
                width: 100%;
            }
    }
}
    @media all and (min-width: 30rem) and (max-width: 48rem){
        height: 100%;
        left: 8%;
        top: 3%;
        .containerSkill{
            grid-template-columns: 50% 50%;
            grid-template-rows: 30% 30% 30% 30%;
            gap: .4em;
        }
        .titleSkill {
            .tech{
                font-size: 3rem;
                bottom: 100%;
            }
            .tools{
                right: 99%;
                font-size: 2.5rem;
            }
        }
        .skill {
            width: 80%;
            height: 100%;
            .textSkil {
                text-align: center;
                font-size: 0.6rem;
                width: 80%;
            }
    }
    }
    @media all and (min-width: 48rem) and (max-width: 60rem){
        height: 100%;
        left: 13%;
        top: 3%;
        .containerSkill{
            grid-template-columns: 50% 50%;
            grid-template-rows: 30% 30% 30% 30%;
            gap: .4em;
        }
        .titleSkill {
            .tech{
                font-size: 4rem;
                bottom: 100%;
            }
            .tools{
                right: 99%;
                font-size: 3.5rem;
            }
        }
        .skill {
            width: 40%;
            height: 80%;
            .textSkil {
                text-align: center;
                font-size: 0.6rem;
                width: 80%;
            }
    }
    }
    @media all and (min-width: 60rem) and (max-width: 70rem){
        height: 35%;
        .titleSkill {
            .tech{
                font-size: 4rem;
                bottom: 100%;
                margin-bottom: .5rem;
            }
            .tools{
                right: 99%;
                font-size: 4rem;
            }
        }
        .skill {
            width: 35%;
            height: 10%;
            margin: 0 .2rem 0 .2rem;
            .textSkil {
                text-align: center;
                font-size: 0.8rem;
                width: 90%;
            }
    }
    }
}